<h1>EventAttendances#new</h1>



<%= form_tag event_attendances_path do %>
  <%= label_tag :attendee_name%>
  <%= text_field_tag :attendee_name %>

  <br>
  <%= label_tag :event_name, "Event Name"%>
  <%= select_tag :event_id, options_from_collection_for_select(Event.all, "id", "name", 1) %>
  <%= submit_tag "Create" %>
<% end %>